body {
    background-color: #363636; /* tom de cinza escuro */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000; /* preto */
    color: #fff; /* branco */
    padding: 10px;
    text-align: center;
}

main {
    background-color: #fff; /* branco */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    padding: 10px;
    text-decoration: none;
    color: #000; /* preto */
    border-radius: 5px; /* pequeno border radius */
    border: 1px solid #000; /* borda preta */
}

.links a:hover {
    background-color: #000; /* preto */
    color: #fff; /* branco */
}

